*{
  box-sizing:border-box;
}

/* ===== BACKGROUND FOTO SLIDER ===== */

body{
  margin:0;
  padding:0;
  overflow-x:hidden;
}

.bg-slider{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  z-index:-1;
  transition:opacity 1.5s ease-in-out;
  filter:brightness(0.6);
}

/* supaya isi tetap jelas */
.love-letter{
  position:relative;
  z-index:2;
}

.box{
  display:none;
  background:rgba(255,255,255,0.18);
  padding:25px;
  border-radius:22px;
  width:90%;
  max-width:380px;
  margin:auto;
  margin-top:8vh;
  backdrop-filter:blur(12px);
  box-shadow:0 15px 35px rgba(0,0,0,.35);
}

#start{
  display:block;
}

button{
  padding:10px 22px;
  border:none;
  border-radius:25px;
  background:#ff4f81;
  color:white;
  font-size:15px;
  cursor:pointer;
  margin-top:14px;
}
button:hover{
  background:#ff2f6d;
}

#noBtn{
  position:absolute;
  display:none;
}

/* VIDEO */
.video-wrapper{
  display:none;
  justify-content:center;
  align-items:flex-start;
  padding:20px;
  height:auto;
}

.video-card{
  width:100%;
  max-width:420px;
  background:rgba(255,255,255,0.18);
  padding:12px;
  border-radius:22px;
  backdrop-filter:blur(10px);
  box-shadow:0 15px 35px rgba(0,0,0,.4);
}

video{
  width:100%;
  height:auto;
  max-height:80vh;
  border-radius:18px;
  object-fit:contain;   /* INI KUNCI */
  display:block;
}


/* ===== ROMANTIC HEART FLOAT ===== */
.heart{
  position:fixed;
  bottom:-20px;
  font-size:18px;
  color:#ff6f91;
  animation:floatHeart 6s linear forwards;
  pointer-events:none;
  text-shadow:0 0 8px rgba(255,111,145,.8);
}

@keyframes floatHeart{
  0%{
    transform:translateY(0) scale(1);
    opacity:0;
  }
  10%{
    opacity:1;
  }
  100%{
    transform:translateY(-110vh) scale(1.6);
    opacity:0;
  }
}


/* ROMANTIC FIREWORK */
.firework{
  position:absolute;
  width:6px;
  height:6px;
  border-radius:50%;
  animation:boom 2.5s ease-out infinite;
}

@keyframes boom{
  0%{transform:scale(0);opacity:1}
  100%{transform:scale(18);opacity:0}
}





